<% follow_state = current_user.follows?(user) ? 'followed' : 'unfollowed' %>


<button class="follow-toggle" type="button" name="button" data-initial-follow-state="<%= follow_state %>" data-user-id=<%= user.id %>>
</button>


